<!DOCTYPE html>
<html>
<head>
    <title>CloudServer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">


</head>
<body>
<%if(house){%>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Controllers</th>
        <th>Tasks</th>
        <th>Connected</th>
        <th>Sync</th>
        <th>Created</th>
        <th>Modified</th>
    </tr>
    <tr>
        <td><%=house._id%></td>
        <td><%=house.name%></td>
        <td><%=house.controllers%></td>
        <td><ul>
                <%for(let j=0;j<house.tasks.length;j++){%>
                <li><%-JSON.stringify(house.tasks[j])%></li>
                <%}%>
            </ul>
        </td>
        <td><%=house.connected%></td>
        <td><%=house.sync%></td>
        <td><%=house.created%></td>
        <td><%=house.modified%></td>
    </tr>

</table>
<% }%>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</body>
</html>
