<!DOCTYPE html>
<html>
  <head>
    <title>CloudServer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%if(houses){%>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Controllers</th>
        <th>Tasks</th>
        <th>Connected</th>
        <th>Sync</th>
        <th>Created</th>
        <th>Modified</th>
      </tr>
        <%for(let i=0;i<houses.length;i++){%>
        <tr>
          <td><a href="/house/<%=houses[i]._id%>">View</a></td>
          <td><%=houses[i]._id%></td>
          <td><%=houses[i].name%></td>
          <td><%=houses[i].controllers%></td>
          <td><ul>
            <%for(let j=0;j<houses[i].tasks.length;j++){%>
                <li><%-JSON.stringify(houses[i].tasks[j])%></li>
            <%}%>
            </ul>
          </td>
          <td><%=houses[i].connected%></td>
          <td><%=houses[i].sync%></td>
          <td><%=houses[i].created%></td>
          <td><%=houses[i].modified%></td>
        </tr>
	    <%}%>
    </table>
   <% }%>
  </body>
</html>
